body {
  font-family: "Montserrat", sans-serif;
  background-color: #1a1a1a;
  margin: 0px;
}

header {
  position: fixed;
  background: #1a1a1a;
  color: #fff;
  text-align: center;
  padding: 0;
  width: 100%;
  z-index: 2; /* Ensure the header is displayed above the split sections */
}

h1 {
  margin: 0;
  color: #ffffff;
}
h2 {
  background: linear-gradient(
    to right,
    #8ae6e7,
    #dad172
  ); 
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  padding: 80px;
  text-align: center;
  font-size: 20px;
}
p {
  background: linear-gradient(
    to right,
    #8ae6e7,
    #dad172
  );
  background-clip: text; 
  -webkit-background-clip: text; 
  color: transparent;
  padding: 60px;
  text-align: center;
  font-size: 16px;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.action-button {
  /* text-align: center; */
}

a {
  display: inline-block;
  background-color: #b5cbe3;
  color: #555050;
  padding: 10px 20px;
  text-decoration: none;
  margin: 10px;
  border-radius: 5px;
  font-weight: bold;
}

.image-actions {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Montserrat" !important;
  font-size: 16px;
  font-weight: 600 !important;
}

input[type="file"] {
  display: none;
}

button {
  background-color: #b5cbe3;
  color: #555050;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 5vh;
  overflow-x: hidden;
  padding-top: 100px;
}

/* Control the left side */
.left {
  left: 0;
  background-color: #1a1a1a;
}
.card {
  width: 90vh;
  height: 75vh;
  background-image: linear-gradient(163deg, #00fbff 0%, #ffea00 100%);
  border-radius: 30px;
  transition: all 0.3s;
}

.card2 {
  width: 89.8vh;
  height: 74.8vh;
  background-color: #1a1a1a;
  border-radius: 10px;
  transition: all 0.2s;
}

/* button styling */
.left .button {
  margin-top: 20vh;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
  --border-right: 6px;
  --text-stroke-color: rgba(255, 255, 255, 0.6);
  --animation-color: #00fdb1;
  --fs-size: 3.5em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}

.card2:hover {
  transform: scale(0.98);
  border-radius: 20px;
}

.card:hover {
  box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.3);
}

/* Control the right side */
.right {
  right: 0;
  background-color: #1a1a1a;
}

/* button styling */
.right .button {
  margin-top: 20vh;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
  --border-right: 6px;
  --text-stroke-color: rgba(255, 255, 255, 0.6);
  --animation-color: #d8e957;
  --fs-size: 3.5em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
}

/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
  background: linear-gradient(
    to right,
    #8ae6e7,
    #dad172
  ); /* Define the gradient colors */
  background-clip: text; /* Clip the background to the text */
  -webkit-background-clip: text; /* For older browsers */
  color: transparent;
  font-family: "Girassol", serif;
  font-weight: bolder;
  font-size: 70px;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  /* white-space: nowrap;  */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.12em; /* Adjust as needed */
  animation: typing 5s steps(100, end), blink-caret 0.5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #1a1a1a;
  }
}

.Home {
  width: 10vh;
  height: 5vh;
  margin-top: 50px;
  background-color: #1a1a1a;
  border-radius: 10px;
  transition: all 0.2s;
}

/* button styling */
.button {
  height: auto;
  margin-left: 5vh;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
  --border-right: 6px;
  --text-stroke-color: rgba(255, 255, 255, 0.6);
  --animation-color: #00fdb1;
  --fs-size: 4em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
/* this is the text, when you hover on button */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
/* hover */
.button:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color));
}

/* Style for button container */
.button-container-upload {
  text-align: center;
  margin: 10px;
  background-color: #1a1a1a;
}

/* Style for the "Upload Image" button */
.upload-button {
  height: auto;
  margin-left: 5vh;
  margin-top: 30vh;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
  /* --border-right: 6px; */
  --text-stroke-color: rgba(255, 255, 255, 0.6);
  --animation-color: #00fdb1;
  --fs-size: 4em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}

.upload-button:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color));
}

.encrypt-button {
  height: auto;
  margin-left: 5vh;
  margin-top: 10vh;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
  /* --border-right: 6px; */
  --text-stroke-color: rgba(255, 255, 255, 0.6);
  --animation-color: #00fdb1;
  --fs-size: 4em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}

.encrypt-button:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color));
}

.download-link {
  height: auto;
  margin-left: 5vh;
  margin-top: 10vh;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
  /* --border-right: 6px; */
  --text-stroke-color: rgba(255, 255, 255, 0.6);
  --animation-color: #00fdb1;
  --fs-size: 4em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}

.download-link:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color));
}

#originalImagePreview {
  width: 300px;
  margin: auto;
  text-align: center;
  display: flex;
}

#decryptedImage {
  width: 300px;
  height: 300px;
  margin: auto;
  text-align: center;
  display: flex;
}

.upload-button-2 {
  height: auto;
  margin-left: 5vh;
  margin-top: 2vh;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
  /* --border-right: 6px; */
  --text-stroke-color: rgba(255, 255, 255, 0.6);
  --animation-color: #00fdb1;
  --fs-size: 4em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}

.upload-button-2:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color));
}

.decrypt-button {
  height: auto;
  margin-left: 5vh;
  margin-top: 4vh;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
  /* --border-right: 6px; */
  --text-stroke-color: rgba(255, 255, 255, 0.6);
  --animation-color: #00fdb1;
  --fs-size: 4em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}

.decrypt-button:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color));
}

#decryptionKeyLabel {
  background: transparent;
  border: none;
  --border-right: 6px;
  --text-stroke-color: rgba(255, 255, 255, 0.6);
  --animation-color: #00fdb1;
  --fs-size: 4em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 464px){
  .card{
    width: 45vh;
  }
  .card2{
    width: 46vh;
  }
  p{
    font-size: 8px;
  }
  .left .button{
    font-size: 1.5em;
  }
  .right .button{
    font-size: 1.5em;
  }
}

@media only screen and (min-width: 465px) and (max-width: 499px){
  .card{
    width: 49vh;
  }
  .card2{
    width: 50vh;
  }
  p{
    font-size: 10px;
  }
  .left .button{
    font-size: 2em;
  }
  .right .button{
    font-size: 2em;
  }
}

@media only screen and (min-width: 500px) and (max-width: 777px){
  .card{
    width: 56vh;
  }
  .card2{
    width: 55.8vh;
  }
  p{
    font-size: 12px;
  }
  .left .button{
    font-size: 2.5em;
  }
  .right .button{
    font-size: 2.5em;
  }
}

@media only screen and (min-width: 779px) and (max-width: 958px){
  .card{
    width: 59.2vh;
  }
  .card2{
    width: 58.8vh;
  }
  p{
    font-size: 14px;
  }
  .left .button{
    font-size: 3em;
  }
  .right .button{
    font-size: 3em;
  }
}

@media only screen and (min-width: 959px) and (max-width: 1102px){
  .card{
    width: 71.2vh;
  }
  .card2{
    width: 70.8vh;
  }
}

@media only screen and (min-width: 1103px) and (max-width: 1160px){
  .card{
    width: 83vh;
  }
  .card2{
    width: 82.8vh;
  }
}

